<!doctype html>
<html lang="en">
	<head>  
		<meta charset="utf8">  
		<title><%= 'totalRecall' %></title>  
		<link href="/reset.css" rel="stylesheet">  
	</head>  
	<body>  
		<header>  
		<hgroup>  
		<h1>totalRecall</h1>  
		</hgroup>  
		</header>  

		<div id="main">  
			<%= yield %>  
		</div>  

		<footer>  
		<p><small>An app for all</p>  
		</footer>  
	</body>  
</html>  

